@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Dosis:wght@200&display=swap%27');

.form-submit-button{
    margin-top: 30px;
    width:auto;
    background: #59B200;
    border: 3px solid #59B200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:auto;
}

.form-submit-button:hover{
    cursor:pointer;
    transition:0.5s;
    animation-name: submitHover;
    animation-duration:1s;
    animation-fill-mode: forwards;

}

.form-submit-button:active {
    box-shadow: 0 5px #667;
    transform: translateY(9 px);
}

.button-text {
    font-family: Dosis;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color:white;
}

#send-message-button{
    width:10%;
}

#chatBox {
    width:100%;
    height:100%;
    background-color: white;
    display:flex;
    flex-direction: row;
}

#message-input{
    height:40px;
    width:50%;
    margin-right: 10px;
}

#chat {
    width:50%;
    height:100%;
    text-align: center;

    
}
#friendsList {
    width:50%;
    height:100%;
    border-radius: 5px;
    text-align: center;
}
#send {
    margin:auto;
}
#messages {
    width:100%;
    height:70%;
    text-align: left;
}
.friendsName {
    color:#59B200;
    transition:0.5s
}
.friendsName:hover{
    font-size: xx-large;
}