#page {
    height:100%;
    width:100%;
    background-color: burlywood;
    display:flex;
    flex-direction: column;
}
#top {
    height:50%;
    width:100%;
    background-color: cornflowerblue;
}
#bottom {
    height:50%;
    width:100%;
    background-color: crimson;
}