@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

#title {
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    font-size: 40px;
    transition:0.5s;

}
#title:hover{
    font-size:80px;
}